* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

html {
  background: #3a4b62; }

body {
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
  font-family: 'Roboto', sans-serif; }

.logoName {
  position: relative;
  top: 1em;
  left: 2em; }
  .logoName h1 {
    position: relative;
    box-sizing: border-box;
    position: absolute; }
  .logoName .link-name {
    color: #ffffff;
    letter-spacing: -3px; }
  .logoName i {
    font-style: normal;
    letter-spacing: -2px;
    position: relative;
    opacity: 0;
    -webkit-transform: translate(-20px, 0);
    -moz-transform: translate(-20px, 0);
    -ms-transform: translate(-20px, 0);
    -o-transform: translate(-20px, 0);
    transform: translate(-20px, 0); }
  .logoName i:nth-child(6) {
    letter-spacing: normal;
    -webkit-transition: all .3s .1s ease;
    -moz-transition: all .3s .1s ease;
    -o-transition: all .3s .1s ease;
    transition: all .3s .1s ease; }
  .logoName i:nth-child(5) {
    -webkit-transition: all .3s .05s ease;
    -moz-transition: all .3s .05s ease;
    -o-transition: all .3s .05s ease;
    transition: all .3s .05s ease; }
  .logoName i:nth-child(4) {
    -webkit-transition: all .3s .1s ease;
    -moz-transition: all .3s .1s ease;
    -o-transition: all .3s .1s ease;
    transition: all .3s .1s ease; }
  .logoName i:nth-child(3) {
    -webkit-transition: all .3s .15s ease;
    -moz-transition: all .3s .15s ease;
    -o-transition: all .3s .15s ease;
    transition: all .3s .15s ease; }
  .logoName i:nth-child(2) {
    -webkit-transition: all .3s .2s ease;
    -moz-transition: all .3s .2s ease;
    -o-transition: all .3s .2s ease;
    transition: all .3s .2s ease; }
  .logoName i:nth-child(1) {
    -webkit-transition: all .3s .25s ease;
    -moz-transition: all .3s .25s ease;
    -o-transition: all .3s .25s ease;
    transition: all .3s .25s ease; }
  .logoName .collapse-name {
    display: inline-block;
    max-width: 0;
    overflow: hidden;
    height: 34px;
    -webkit-transition: all .5s .2s ease;
    -moz-transition: all .5s .2s ease;
    -o-transition: all .5s .2s ease;
    transition: all .5s .2s ease; }

.logoName:hover .collapse-name {
  max-width: 129px;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s; }

.logoName:hover i {
  opacity: 1; }

.logoName:hover i:nth-child(6) {
  -webkit-transition: all .3s .25s ease;
  -moz-transition: all .3s .25s ease;
  -o-transition: all .3s .25s ease;
  transition: all .3s .25s ease; }

.logoName:hover i:nth-child(5) {
  -webkit-transition: all .3s .2s ease;
  -moz-transition: all .3s .2s ease;
  -o-transition: all .3s .2s ease;
  transition: all .3s .2s ease; }

.logoName:hover i:nth-child(4) {
  -webkit-transition: all .3s .15s ease;
  -moz-transition: all .3s .15s ease;
  -o-transition: all .3s .15s ease;
  transition: all .3s .15s ease; }

.logoName:hover i:nth-child(3) {
  -webkit-transition: all .3s .1s ease;
  -moz-transition: all .3s .1s ease;
  -o-transition: all .3s .1s ease;
  transition: all .3s .1s ease; }

.logoName:hover i:nth-child(2) {
  -webkit-transition: all .3s .05s ease;
  -moz-transition: all .3s .05s ease;
  -o-transition: all .3s .05s ease;
  transition: all .3s .05s ease; }

.logoName:hover i:nth-child(1) {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s  ease;
  transition: all .3s ease; }

/*# sourceMappingURL=main.css.map */
